*
!/backend
!/backend/**
!/frontend
!/frontend/**
!/docker-compose.yml
!/deploy.sh
!/.gitignore
backend/.env
backend/.venv/
backend/__pycache__/
backend/services/registrar/__pycache__/
frontend/.env
frontend/node_modules/
